.footer-columns {
    display: flex;
    align-items: baseline;
}

.footer-column:not(:last-child) {
    margin-right: 70px;
}

.footer-column:last-child {
    margin-left: auto;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-dark-gray);
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.logo--white {
    color: var(--text-white);

    transition: color var(--time-animatio) var(--cubic-bezier);

    .logo:hover &,
    .logo:focus & {
            color: var(--accent);
        }
}



/* Address____________________________________ */
.address {
    font-style: inherit;
}
.address-list__item {
    display: block;
    margin-bottom: 5px;
}

.address-list__link {
    color: var(--text-gray-alfa);

    transition: color var(--time-animatio) var(--cubic-bezier);

    &:hover,
    &:focus {
            color: var(--accent);
        }
}

.address-list__link--white {
    color: var(--text-white);
}





/* Social________________________________________ */

.footer .title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-white);
}

.footer .item:not(:last-child) {
    margin-right: 10px;
}

.social-list__circle--transparent {
    background-color: var(--background-white-transperent);

    &:hover,
    &:focus {
            background-color: var(--accent);
        }
}



.social-list__icon--white {
    fill: var(--background-white);
}

/* Form__________________________________________ */

.subscribe {
    display: flex;
}

.subscribe__email {
    width: 358px;
    height: 50px;
    padding: 15px;
    margin-right: 12px;

    color: var(--text-white);
    background-color: transparent;
    margin-right: 12px;
    border: 2px solid var(--white-transperent);
    border-radius: 4px;

    &::placeholder {
        flex-grow: 1;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        }
}



.subscribe__icon {
    margin-left: 10px;
}