.team {
    background-color: var(--background-light-gray);
}

.team-list__item {
    display: block;
    background-color: var(--background-white);
    box-shadow: var(--shadow);
    border-radius: 0px 0px 4px 4px;
    width: calc(100% / 4 - var(--card-gap));
}


// card-text_____________________________________
.card-text__title,
.card-text__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
}

.card-text__title {
    margin-bottom: 10px;
}

.card-text__description {
    margin-bottom: 16px;
}

.team-list .card-text {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


// social________________________________________
.social-list {
    display: flex;
}

.social-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-list__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    /* background-color: teal; */
    border-radius: 50%;

    transition: background-color var(--time-animatio) var(--cubic-bezier);
}


.social-list__circle:hover,
.social-list__circle:focus {
    background-color: var(--accent);
}

.social-list__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-gray);

    transition: fill var(--time-animatio) var(--cubic-bezier);
}

.social-list__circle:hover .social-list__icon,
.social-list__circle:focus .social-list__icon {
    fill: var(--background-white);
}